body {
    background-color: #E1D7CD;
    margin: 0;
    padding: 0;
}

* {
    font-family: Garamond, serif;
}

/* Header style */
header {
    
    background-color: #E1D7CD;
    color: black;
    padding: .75em 0;
    font-family: 'Garamond', serif;
}

.header-nav ul {
    list-style: none;
    padding: 0;
    padding-left: 50px;
    margin: 0;
    display: flex;
    justify-content: left; 
}

.header-nav li {
    margin: 0 1em; 
}

.navbar-link {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    font-size: 1.2em;
}

.header-nav a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-nav a:hover {
    color: brown;
    text-decoration: none;
}

.home-button {
    flex: 1; /* Allows each button to grow and take up equal space */
    text-align: center; /* Center the text inside the button */
    padding: 10px 15px; /* Adjusts padding for better visuals */
    margin: 0 5px; /* Gives a little space between the buttons */
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent */
    background-color: #007bff; /* Example background color */
    border-radius: 5px; /* Rounds the corners of the buttons */
}


.home-button:hover {
    text-decoration: none;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
    height: 100vh; 
    padding: 20px;
}

.home-row {
    width: 100%;
}

.main-content {
    padding-left:220px; 
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.video iframe {
    width: 100%;
    height: 300px;
    display: block;
}

/* Lesson Card styles */
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
}

.card {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    flex-grow: 1; 
    padding: 20px;
}

.card-content img {
    max-width: 100%; 
    max-height: 250px; 
    width: auto; 
    height: auto; 
    margin-bottom: 20px; 
}


.card-footer {
    padding: 10px;
    display: flex;
    justify-content: center; 
}

.arrows {
    display: flex;
}

.arrow {
    cursor: pointer;
    padding: 10px;
    user-select: none;
    font-size: 24px;
}

.dots {
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/* Button styles */
.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; 
    margin: 5px;
}

/* Sidebar styles */
.sidebar {
    background: #ffffff;
    padding: 20px;
    position: fixed; 
    width: 200px;
    top: 84px;
    bottom: 0;
    overflow-y: scroll;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar ul li.active {
    background-color: #ddd;
}

.legend-section {
    margin-top: 10px;
}

.legend, .ingredients-legend{
    list-style: none;
    padding: 0;
    background-color:#ffffff;
    margin-left: 0px;
}

.ingredients-legend li {
    display: inline-block;
    margin-left: 20px;
    text-align: center;
}

.legend li {
    margin-bottom: 0px;
}

a.disabled {
    pointer-events: none;
}

.legend-image {
    width: 150px;
    height: 20px; 
    display: block;
}

/* Navigation style */
.lesson-navigation a {
    text-decoration: none;
    color: white !important;
    background-color: #007bff;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

.lesson-navigation a:hover {
    background-color: #0056b3;
}

/* Intro Page Styles */
.category-title {
    background-color: #ddd;
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.category-card, .drink-container {
    width: 500px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.drink-name {
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.ingredients {
    padding-left: 20px;
}

.reset-button {
    margin-left: 7px;
    margin-bottom: 20px;
    cursor: pointer;
}

a {
    cursor: pointer;
}

#submit-button {
    cursor: pointer;
}


.review-category-container {
    padding-left: 220px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.notes {
    font-style: italic;
    color: #666;
}

.ingredients {
    padding-left: 20px;
    list-style-type: circle;
}

.drink strong {
    color: #777;
}

/* Quiz styles */
.quiz-image {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}

.ingredients-list {
    background-image: url('../media/legend/cup.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    padding: 0px 5px 10px 5px;
    width: 60px;
    height: 115px;
}

.drink-image-container .ingredients-list, .answer-drink .ingredients-list, .user-answer-drink .ingredients-list {
    margin: auto;
}

img.ingredient-image {
    width: 50px;
    height: 10px;
    display: block;
    margin: auto;
    margin-bottom: 0px;
}

.ingredient {
    margin-top: auto;
}

.button {
    /* Common button styles */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.white {
    /* Styles for blue buttons */
    background-color: white; /* Blue */
    color: #007bff;
    border: 2px solid #007bff;
}

.small-text {
    font-size: 20px; /* Adjust the size of the smaller text */
    color: #777; /* Color for the smaller text */
}

.big-text {
    font-size: 60px; /* Adjust the size of the bigger text */
    color: #000; /* Color for the bigger text */
}

.coffee-highlight {
    color:  #ff6a00; /* Color for the highlighted word */
}

.title {
    text-align: left;
    margin-bottom: 20px; /* Adjust spacing between title and buttons */
}

.title-container > div:last-child {
    display: flex; /* Makes the container a flex container */
    justify-content: space-between; /* Distributes space evenly around items */
}

.home-image-container {
    width: 100%;
    height: 100%;
    margin-right: auto;
}

.title-image {
    width: 100%;
    height: auto;
}

.home-text {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
}

.legend-ingredient {
    width: 50px;
    height: 10px;
    display: block;
    margin-bottom: 0px;
    margin: auto;
    cursor: pointer;
}

.legend-ingredient .legend-image {
    width: 50px;
    height: 10px;
    display: block;
    margin-bottom: 0px;
}

.quiz-review-top {
    text-align: center;
}

.score-number {
    color: #ff6a00;
}

.quiz-review-title {
    font-size: 36px;
    font-weight: bold;
}

.quiz-review-conditional-message {
    font-size: 25px;
    color: #777;

}

.score-text {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.quiz-button {
    text-decoration: none;
}

.quiz-button:hover {
    text-decoration: none;
}

.answer-review-text {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.quiz-container{
    width: 70%; /* Set your desired width as a percentage */
    margin: 0 auto; /* Center the container horizontally */
}

.question-row {
    text-align: center;
    background-color: #E1D7CD;
    padding-top: 13px;
    padding-bottom: 10px;
}

.question-heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.question-number {
    color: #777; /* Set color to #777 */
    font-weight: normal; /* Remove bold font weight */
}

.answer-row {
    text-align: center;
    /* font-size: 30px; */
}



.answer-heading {
    text-align: center;
    width: 50%;
    color: #777;
}

.answer-cell {
    text-align: center;
    width: 50%;
}

.answer-cell img {
    max-width: 100%; /* Ensure the image doesn't exceed the cell width */
    max-height: 100px; /* Set the maximum height of the image */
    display: block; /* Ensure the image behaves as a block element */
    margin: auto; /* Center the image horizontally */
}

.quiz-image-container {
    max-width: 100%;
    max-height: auto; /* Set the maximum height as per your requirement */
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.quiz-prompt {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px;
}

.quiz-prompt .prefix {
    color: #777;

}

#submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centers horizontally */
}

#reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centers horizontally */
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

#feedback{
    display: flex;
    justify-content: center;

}

#drink {
    display: flex;
    justify-content: center;
}

#ingredients {
    display: flex;
    flex-direction: column; /* Stack items vertically */
}

.ingredients-heading {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

.ingredients-legend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.quiz-option-row {
    margin-bottom: 30px;
}

.quiz-navigation.btn.btn-primary {
    background-color: #E1D7CD;
    border-color: #E1D7CD;

}

.quiz-navigation.btn.btn-primary:hover {
    background-color: #E1D7CD;
    border-color: #E1D7CD;
}

.quiz-navigation.btn.btn-primary a {
    color: black;
}

#submit-button .btn.custom-button-color {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}