{% extends "layout.html" %} 
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/quiz-review.js') }}"></script>
<script>
    let user_data = {{ user_data | tojson }};
    let quiz = {{ quiz | tojson }};
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12 quiz-review-top">
            <div class="quiz-review-title">Quiz Review</div>
            <div class="quiz-review-conditional-message">
                {% if user_data.quiz.score > 6 %}
                <p>Congratulations! You have completed the quiz!</p>
                {% else %}
                <p>Try learning the materials again.</p>
                {% endif %}
            </div>
            <div class="score-text">
                Score:
                <span class="score-number">{{ user_data.quiz.score }}</span> / 8
            </div>
            <div>
                {% for button in quiz_review_data.buttons %}
                <a href="{{ button.link }}" class="button {{ button.color }} quiz-button">{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="answer-review-text">Answers</div>
        </div>
    </div>

    <div class="quiz-container">
        {% for q in quiz.questions if q.id %}
        <div class="question-row row">
            <div class="col-md-12">
                <h3 class="question-heading">
                    <span class="question-number">Q{{ q.id }}</span>. {{ q.question }}
                    {% if q.text %}
                    <span class="question-text">{{ q.text }}</span>
                    {% endif %}
                </h3>
            </div>
        </div>
        <div class="answer-row row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="answer-heading" style="color: {% if user_data.quiz.answers[q.id].answer_correct %}green{% else %}red{% endif %};">Your Answer</th>
                            <th class="answer-heading">Correct Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="answer-cell">
                                <div class="user-answer-drink"></div>
                            </td>
                            <td class="answer-cell">
                                <div class="answer-drink"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>  
{% endblock %}
