{% extends "layout.html" %} {% block content %}
<script
	type="text/javascript"
	src="{{ url_for('static', filename = 'js/quiz-drag.js') }}"></script>
<script>
	let legend = {{ legend | tojson }};
	let ingredients = {{ ingredients | tojson }};
	let question = {{ question | tojson }};
</script>
<div class="sidebar">
    <h3>Progress</h3>
    <ul>
        {% for key, value in metadata.items() if key != 'review' %}
            <li {% if key == question_id %}class="active"{% endif %}>
                <a href="{{ url_for('quiz_question', question_id=key) }}">Question {{ key }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ url_for('quiz_review') }}">Submit</a>
        </li>
    </ul>
    <div class="legend-section">
        <h3>Legend</h3>
        <ul class="legend">
            {% for item in legend %}
                <li>
                    <img src="{{ url_for('static', filename=item.image) }}" class="legend-image" alt="{{ item.name }}">
                    {{ item.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ question.id }}. {{ question.question }} <span class="coffee-highlight">{{ question.text }}</span>.</h2>
                {% if 'question_img' in question %}
                <img src="{{ url_for('static', filename=question.question_img) }}" alt="Question Image" class="quiz-image">
                {% endif %}
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div id="feedback"></div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
				<div id="drink"></div>
					<div id="ingredients">
						<h3>Ingredients</h3>
						<ul class="ingredients-legend"></ul>
					</div>
					<div id="reset-button">
						<button id="reset" class="btn btn-secondary">Reset</button>
					</div>
					<div id="submit-button">
						<button id="submit" class="btn btn-primary">Submit</button>
					</div>
			</div>
        </div>
        <div class="navigation">
            <nav class="quiz-navigation">
                {% if question.next == "Review" %}
                    <a href="{{ url_for('quiz_review') }}">Review</a>
                {% endif %}
                {% if question.previous %}
                    <a href="{{ url_for('quiz_question', question_id=question.previous) }}">Previous</a>
                {% endif %}
                {% if question.next %}
                    <a href="{{ url_for('quiz_question', question_id=question.next) }}">Next</a>
                {% endif %}
                
            </nav>
        </div>
    </div>
</div>
{% endblock %}
