{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Quiz Review</h1>
            <p>Congratulations! You have completed the quiz!</p>
            <h2>Quiz Score: {{ user_data.quiz.score }} / 4</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Question Reviews:</h3>
            <ul>
                {% for q in quiz.questions if q.id != 5 %}
                <li>
                    <p>Question {{ q.id }}: {{ q.question }}</p>
                    
                    {% if user_data.quiz.answers[q.id].answered %}
                        {% set selected_option_index = (user_data.quiz.answers[q.id].selected_option | int) - 1 %}
                        {% set selected_option = q.options[selected_option_index] %}
                    
                        <p>Selected Option: {{ selected_option.text }}</p>
                        {% if 'image_url' in selected_option %}
                            <img src="{{ url_for('static', filename=selected_option.image_url) }}" alt="{{ selected_option.text }}">
                        {% endif %}

                        <p>Correct Option: {{ q.options[q.correct_answer - 1].text }}</p>
                        
                        {% if 'image_url' in  q.options[q.correct_answer - 1] %}
                            <img src="{{ url_for('static', filename=q.options[q.correct_answer - 1].image_url) }}" alt="{{ q.options[q.correct_answer - 1].text }}">
                        {% endif %}

                    {% else %}
                        <p>Not answered</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</div>

{% endblock %}
