{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/review.js') }}"></script>
<script>
	let lesson = {{ lesson | tojson }};
	let lesson_metadata = {{ lesson_metadata | tojson }};
	let legend = {{ legend | tojson }};
	let ingredients = {{ ingredients | tojson }};
</script>

<div class="sidebar">
    <h3>Lesson</h3>
    <ul>
        {% for key, value in lesson_metadata.contents.items() if key != 'quiz' %}
            <li {% if key == lesson.id %}class="active"{% endif %}>
                <a href="{{ url_for('learn', page_number=key) }}">{{ value }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ url_for('quiz_question', question_id=1) }}">Quiz</a>
        </li>
    </ul>
    <div class="legend-section">
        <h3>Legend</h3>
        <ul class="legend">
            {% for item in legend %}
                <li>
                    <img src="{{ url_for('static', filename=item.image) }}" class="legend-image" alt="{{ item.name }}">
                    {{ item.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <h1>{{ lesson.name }}</h1>
        {% for category in lesson.contents %}
            <div class="review-category-container">
                <h2>{{ category.categories.title }}</h2>
                {% if category.categories.notes %}
                    <ul class="notes">
                        {% for note in category.categories.notes %}
                            <li>{{ note }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h3>Drinks:</h3>
                <ul>
                    {% for drink in category.categories.drinks %}
                        <li class="drink">
                            <strong>{{ drink.name }}</strong>
                            <ul class="ingredients">
                                {% for ingredient, quantity in drink.ingredients %}
                                    <li>{{ ingredient }} x{{ quantity }}</li>
                                {% endfor %}
                            </ul>
                            <div id="{{ drink.name }}" class="drink-image-container" --recipe={{ drink.ingredients }}>
                                
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <nav class="lesson-navigation">
            <div>
                {% if lesson.previous %}
                <a onclick="sendUserData('prev')">Previous</a>
                {% endif %}
            </div>
            <div>
                {% if lesson.next %}
                <a onclick="sendUserData('next')">Quiz</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>

{% endblock %}