{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/review.js') }}"></script>
<script>
	let lesson = {{ lesson | tojson }};
	let lesson_metadata = {{ lesson_metadata | tojson }};
	let legend = {{ legend | tojson }};
	let ingredients = {{ ingredients | tojson }};
</script>

<div class="sidebar">
    <div class="quiz-sidebar-header">Lessons</div>
    <ul>
        {% for key, value in lesson_metadata.contents.items() if key != 'quiz' %}
            <li {% if key == lesson.id %}class="active"{% endif %}>
                <a href="{{ url_for('learn', page_number=key) }}">{{ value }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{{ url_for('quiz_question', question_id=1) }}">Quiz</a>
        </li>
    </ul>
    <div class="legend-section">
        <div class="quiz-sidebar-header">Legend</div>
        <ul class="legend">
            {% for item in legend %}
                <li>
                    <img src="{{ url_for('static', filename=item.image) }}" class="legend-image" alt="{{ item.name }}">
                    {{ item.name }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="main-content">
    <div class="container">
        <div class="lesson-overview">{{ lesson.name }}</div>
        {% for category in lesson.contents %}
            <div class="review-category-container">
                <div class="lesson-subtitle-review">Lesson {{ category.categories.title }}</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="drink">
                            <strong>{{ category.categories.drinks[0].name }}</strong>
                            <div class="notes">{{category.categories.notes[0]}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ingredients-header">
                                        Ingredients
                                    </div>
                                    <ul class="ingredients">
                                        {% for ingredient, quantity in category.categories.drinks[0].ingredients | reverse%}
                                            <li>{{ ingredient }} x{{ quantity }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div id="{{ category.categories.drinks[0].name }}" class="drink-image-container" --recipe={{ category.categories.drinks[0].ingredients }}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="drink">
                            <strong>{{ category.categories.drinks[1].name }}</strong>
                            <div class="notes">{{category.categories.notes[1]}}</div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ingredients-header">
                                        Ingredients
                                    </div>
                                    <ul class="ingredients">
                                        {% for ingredient, quantity in category.categories.drinks[1].ingredients | reverse%}
                                            <li>{{ ingredient }} x{{ quantity }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div id="{{ category.categories.drinks[1].name }}" class="drink-image-container" --recipe={{ category.categories.drinks[1].ingredients }}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav class="lesson-navigation">
            <div class="nav-buttons">
                {% if lesson.previous %}
                <a class="previous" onclick="sendUserData('prev')">Previous</a>
                {% endif %}
            </div>
            <div class="nav-buttons">
                {% if lesson.next %}
                <a class="quiz" onclick="sendUserData('next')">Quiz</a>
                {% endif %}
            </div>
        </nav>
    </div>
</div>

{% endblock %}